<div class="row">

  <div class="span12" id="home_message" >
    <div class="row">
      <!-- <%= image_tag "home_message_shadow_top.png" , :id => "home_message_shadow_top" %>
      <%= image_tag "home_message_shadow_bottom.png" , :id => "home_message_shadow_bottom" %> -->
      <%= image_tag "virgolette.png" , :class => "span1" %>
      <p class="header span11 ">
        <%= t 'home_messages.head' %>
      </p>
      <p class="text span11 offset1">
        <%= t 'home_messages.text' %>
      </p>
    </div>
  </div>
</div>

<div class="row technologies">
  <% @technologies.each do |t| %>
  <div class="technology span4">
    <div class="row">
      <div class="span2 offset1 technology_image" style="background-image: url(<%= t.image.url(:normal) %>);"></div>
      <p class="span4 description">
        <%= t.description %>
      </p>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <h2 class="span12" id="portfolio">Portfolio</h2>
</div>

<div class="row works">
  <% @works.each do |t| %>
  <div class="work span4">
    <img class=" work_image" src="<%= t.cover.url(:thumb) %>" />
    <h3> <%= t.name %> </h3>
  </div>
  <% end %>
</div>

