<%= image_tag 'loader.gif' , :class => "loader" %>
<div class="container" id="index_container">
  <div class="row">
    <%= # image_tag "home_image.png" , :class => "span12" , :style => "margin-top: -20px" , :id => "banner"
%>
    <div id="home_image" class="span12"></div>

  </div>

  <div class="content">
    <div class="row">
      <div class="span12">
        <div class="row">

          <div class="span12" id="home_message" >
            <div class="row">
              <!-- <%= image_tag "home_message_shadow_top.png" , :id => "home_message_shadow_top" %>
              <%= image_tag "home_message_shadow_bottom.png" , :id => "home_message_shadow_bottom" %> -->
              <%= image_tag "virgolette.png" , :class => "span1" %>
              <p class="header span7 ">
                <%= t 'home_messages.head' %>
              </p>
              <div class="span4 menu">
                <a href="" id="technologies_all">All</a>
                <span>/</span>
                <a href="" id="technologies_language">Languages</a>
                <span>/</span>
                <a href="" id="technologies_framework">Frameworks</a>
              </div>
              <p class="text span11 offset1">
                <%= t 'home_messages.text' %>
              </p>
            </div>
          </div>
        </div>

        <div class="row" id="technologies">
          <% @technologies.each do |t| %>
          <div class="technology span4 <%= t.type.downcase %>">
            <div class="row">
              <div class="span2 offset1 technology_image" style="background-image: url(<%= t.image.url(:normal) %>);"></div>
              <p class="span4 description">
                <%= t.description %>
              </p>
            </div>
          </div>
          <% end %>
        </div>

        <div class="row section_title" id="portfolio">
          <div class="span12 bordered">
            <div class="row">
              <h2 class="span6">Portfolio</h2>
              <div class="span6 menu">
                <a href="" id="portfolio_all">All</a>
                <span>/</span>
                <a href="" id="portfolio_mobile">Mobile</a>
                <span>/</span>
                <a href="" id="portfolio_web">Web</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="works">
          <% @works.each do |t| %>
          <div class="work span4 <%= t.category.downcase %>" data-work-id="/portfolio/<%= t.name %>">
            <div class="work_image"  >
              <div style="background-image: url(<%= t.cover.url(:thumb) %>);"></div>
            </div>
            <h3> <%= t.name %> </h3>
          </div>
          <% end %>

        </div>

        <% if Rails.env.development? %>
        <div class="row section_title" id="contact">
          <div class="span12 bordered">
            <div class="row">
              <h2 class="span6"><%= t :contact %></h2>
            </div>
          </div>
        </div>
        
       
        <div class="row">
          <div class="span8">
            <form>
              <fieldset>
                <label><%= t :first_name%></label>
                <input type="text" placeholder="Insert your <%= :first_name %>">

                <label><%= t :last_name%></label>
                <input type="text" placeholder="Insert your <%= :last_name %>">

                <label><%= t :email%></label>
                <input type="text" placeholder="Insert your <%= :email %>">

                <button type="submit" class="btn">
                  <%= t :submit%>
                </button>
              </fieldset>
            </form>
          </div>
          <% end %>
        </div>

      </div>
    </div><!--/row-->
  </div><!--/content-->

</div>