<div class="container">
  <div class="row">
    <div class="span4">
      <%= image_tag @work.cover.url(:thumb) %>
    </div>
    <div class="span8">
      <h2><%= @work.name %></h2>
      <%= BlueCloth.new(@work.description).to_html().html_safe() %>
    </div>
  </div>
  <div class="row images">
    <% @work.pictures.each_with_index do |picture , i| %>
      <%= link_to picture.image.url() , :rel => "gallery#{@work.id}" do  %>
        <%= image_tag picture.image.url(:thumb) , :class => 'span1' %>
      <% end %>
    <% end %>
  </div>
  <script type="textt/javascript">
    $('.images a').fancybox({
      padding: 0
    });
  </script>
</div>
